{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": 1,
    "eol-last": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
